#slice-id-XpeHQBIAACEArsdV {
  section {
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    h3 {
      color: white;
      font-size: 23px;
      margin-bottom: 0px;
      strong {
        color: white;
      }
    }
    p {
      color: white;
    }
  }
}
