#slice-id-c805bd44-afac-56dd-ad01-1ab8e2060ad8 {
  section {
    padding: 0px;
    > div {
      min-height: 360px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      h2 {
        color: white;
        font-weight: 800;
        font-size: 54px;
        line-height: 72px;
      }
    }
  }
}

#slice-id-e7579e3b-8298-5165-b038-2b3eab074e5e{
  h2{
    margin-bottom:60px;
    margin-top:12px;
    color:$darkGray;
    font-weight: 800;
font-size: 36px;
line-height: 48px;
  }
}