#slice-id-c805bd44-afac-56dd-ad01-1ab8e2060ad8 {
  section {
    padding: 0px;
    > div {
      min-height: 360px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      h2 {
        color: white;
        font-weight: 800;
        font-size: 54px;
        line-height: 72px;
      }
    }
  }
}
