#slice-id-c805bd44-afac-56dd-ad01-1ab8e2060ad8 {
  section {
    padding: 0px;
    > div {
      min-height: 360px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      h2 {
        color: white;
        font-weight: 800;
        font-size: 54px;
        line-height: 72px;
      }
    }
  }
}

#slice-id-e7579e3b-8298-5165-b038-2b3eab074e5e {
  h2 {
    margin-bottom: 60px;
    margin-top: 12px;
    color: $darkGray;
    font-weight: 800;
    font-size: 36px;
    line-height: 48px;
  }
}

#slice-id-9a6c2b80-63d8-5647-8b52-192c0f487968 {
  h2 {
    color: white;
    margin-bottom: 60px;
  }
  .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
      max-width: 100%;
    }
    .column-item {
      padding: 20px;
      border: 1px solid white;
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:nth-child(even) {
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      &:nth-child(odd) {
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
  }
}

#id-3a00cc54-c4df-505b-acf6-bb1ef0723d12 {
  section {
    &:nth-child(1) {
      width: 35%;
      @include mobile() {
        width: 100%;
      }
      > div {
        max-width: calc(#{$desktop-width} * 0.35);
        @include tablet() {
          max-width: calc(#{$tablet-width} * 0.35);
        }
        @include mobile() {
          max-width: calc(#{$mobile-width});
        }
      }
      a {
        color: $darkGray;
      }
    }
    &:nth-child(2) {
      > div {
        max-width: calc(#{$desktop-width} * 0.65);
        @include tablet() {
          max-width: calc(#{$tablet-width} * 0.65);
        }
        @include mobile() {
          max-width: calc(#{$mobile-width});
        }
      }
      width: 65%;
      background-size: contain;
      min-height: 363px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mobile() {
        width: 100%;
      }
      &:before {
        background-size: 370px;
      }
      h2 {
        font-family: "Libre Franklin";
        font-style: normal;
        font-weight: 800;
        font-size: 54px;
        line-height: 72px;
        color: $darkGray;
        margin-bottom: 40px;
        text-align: right;
      }
      p {
        margin: 0px;
        text-align: right;
      }
      a {
        background-color: $darkGray;
        color: white;
        padding: 15px 30px;
        border-radius: 4px;
        margin-top: 40px;
        display: inline-block;
        &:hover {
          background: lighten($darkGray, 8%);
          transition: all 0.3s ease;
        }
      }
    }
  }
}
