#slice-id-cc6aa37f-7638-5f3a-b13b-d57ae0593a17 {
  section {
    padding: 0px;
    > div {
      min-height: 360px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      h2 {
        color: white;
        font-weight: 800;
        font-size: 54px;
        line-height: 72px;
      }
    }
  }
}

#slice-id-ae4c4566-7c9d-52d3-9ef4-f81e4a27c63c {
  .column-item {
    background-color: white;
    padding: 24px;
    h2 {
      width: 100%;
      text-align: center;
    }
    p {
      line-height: 24px;
    }
  }
}

#id-ba0c6516-2cdb-5cfe-8950-f0714b69317f {
  section {
    &:nth-child(1) {
      width: 35%;
      @include mobile() {
        width: 100%;
      }
      > div {
        max-width: calc(#{$desktop-width} * 0.35);
        @include tablet() {
          max-width: calc(#{$tablet-width} * 0.35);
        }
        @include mobile() {
          max-width: calc(#{$mobile-width});
        }
      }
      a {
        color: $darkGray;
      }
    }
    &:nth-child(2) {
      > div {
        max-width: calc(#{$desktop-width} * 0.65);
        @include tablet() {
          max-width: calc(#{$tablet-width} * 0.65);
        }
        @include mobile() {
          max-width: calc(#{$mobile-width});
        }
      }
      width: 65%;
      background-size: contain;
      min-height: 363px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mobile() {
        width: 100%;
      }
      &:before {
        background-size: 370px;
      }
      h2 {
        font-family: "Libre Franklin";
        font-style: normal;
        font-weight: 800;
        font-size: 54px;
        line-height: 72px;
        color: $darkGray;
        margin-bottom: 40px;
        text-align: right;
        display: block;
      }
      p {
        margin: 0px;
        text-align: right;
      }
      .cta-button {
        margin-top: 40px;
        display: inline-block;
      }
    }
  }
}
#slice-id-9c9a8003-7720-5994-befa-c1123df05a9c {
  section {
    padding-top: 0px;
    p {
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 48px;
      display: inline-block;
    }
  }
}
#slice-id-9d3123de-4b48-5248-8bfc-b68904ee96e1 {
  section {
    padding-bottom: 0px;
  }
  h2 {
    color: $darkGray;
  }
}
