#slice-id-podcast-top {
  .left-right-container {
    align-items: flex-start;
    section {
      &:nth-child(2) {
        .block-img {
          display: flex;
          justify-content: center;
          img {
            margin: unset;
          }
        }
      }
    }
  }
  .section-content {
    p {
      &:nth-child(1) {
        font-family: Times New Roman;
        font-style: italic;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
      }
    }
  }
}
#slice-id-subscribe-section {
  section {
    padding: 40px 0px;
  }
  .column-item {
    h2 {
      margin-top: 0px;
    }
    p {
      font-size: 18px;
    }
    &:nth-child(1) {
      .block-img {
        float: right;
        width: auto;
        margin-left: 20px;
      }
    }
    &:nth-child(2) {
      a {
        @include cta-button($medGray);
        float: right;
      }
    }
    &:nth-child(3) {
      a {
        @include cta-button($medGray);
        float: right;
      }
      p {
        padding: 0px 60px 0px 0px;
      }
    }
  }
}
