#slice-id-podcast-top {
  .left-right-container {
    align-items: flex-start;
    section {
      &:nth-child(2) {
        .block-img {
          display: flex;
          justify-content: flex-end;
          img {
            margin: unset;
          }
        }
      }
    }
  }
  .section-content {
    p {
      &:nth-child(1) {
        font-family: Times New Roman;
        font-style: italic;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
      }
    }
  }
}
