@import "./src/components/scss/variables.scss";
@import "./src/components/scss/mixins.scss";
#slice-id-solutions-hero {
  section {
    padding: 0px;
    > div {
      min-height: 360px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      h1 {
        color: white;
        font-weight: 800;
        font-size: 54px;
        line-height: 72px;
      }
    }
  }
}

#slice-id-solution-categories {
  h2 {
    color: $darkGray;
    text-align: center;
  }
  .column {
    h2 {
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 44px;
      margin-top: 48px;
      width: 100%;
      padding: 0px 24px;
      margin-bottom: 0px;
    }
    h4 {
      padding: 0px 24px;
      text-align: center;
      color: $red;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 27px;
      line-height: 36px;
      margin: 0px;
      margin-bottom: 60px;
    }
    p {
      padding: 0px 24px;
      &.block-img {
        padding: 0px;
      }
    }
  }
  .column-item {
    background-color: white;
    padding-bottom: 48px;
  }
  .block-img {
    text-align: center;
    background-color: $blueGray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 20px;
    margin: 0px;
    img {
      // height: 120px;
    }
  }
}

#slice-id-solutions-featured {
  h2 {
    margin: 0px 0px;
  }
}
#slice-id-new-service-solution {
  .full-width-content{
    min-height:513px;
    }
    .full-width-content-inner{
      display:flex;
      justify-content:center;
      flex-direction:column;
    }
  h2 {
    color: white;
    font-weight: 900;
    font-size: 27px;
    line-height: 36px;
    strong {
      color: white;
    }
  }
  p {
    color: white;
  }
  *{
    color:white;
  }
  a {
    color: white;
  }
  .left-right-container {
    @include mobile() {
      flex-direction: column-reverse;
    }
  }
  section {
    &:nth-child(1) {
      background: linear-gradient(
        180deg
        ,hsla(0,0%,100%,0) 6.77%,hsla(0,0%,100%,.19)),#2e2e2e;
    }
    &:nth-child(2) {
      background-color: $offWhite;
    }
  }
}
#slice-id-solutions-azure {
  *{
    color:white !important;
  }
  .full-width-content{
    min-height: 513px;
  }
  .full-width-content-inner{
    display:flex;
    justify-content:center;
    flex-direction:column;
  }
  .full-left-right{
    @include mobile() {
      flex-direction: column-reverse;
    }
  }
  .left-right-container {
    @include mobile() {
      flex-direction: column-reverse;
    }
  }
  h2 {
    color: white;
    font-weight: 900;
    font-size: 27px;
    line-height: 36px;
    strong {
      color: white;
    }
  }
  p {
    color: white;
  }
  section {
    
    &:nth-child(1) {
      background: linear-gradient(
        180deg
        ,hsla(0,0%,100%,0) 6.77%,hsla(0,0%,100%,.19)),#2e2e2e;
    }
    &:nth-child(2) {
      
      &:before {
        background-size: 528px 402px !important;
      }
      background-color: $offWhite;
    }
  }
}

#slice-id-solutions-disaster {
  *{
    color:white !important;
  }
  .full-width-content{
  justify-content:flex-end;
  min-height:513px;
  }
  .full-width-content-inner{
    display:flex;
    justify-content:center;
    flex-direction:column;
  }
  h2 {
    font-weight: 900;
    font-size: 27px;
    color: white;
    line-height: 36px;
  }
  p {
    color: white;
  }
  section {
    &:nth-child(1) {

      @include mobile() {
        min-height: 450px;
      }
    }
    &:nth-child(2) {
          background: linear-gradient(
180deg
,hsla(0,0%,100%,0) 6.77%,hsla(0,0%,100%,.19)),#2e2e2e;
      color: white;
      @include mobile() {
        min-height: auto;
      }

    }
  }
}

#slice-id-solutions-contact {
  section {
    &:nth-child(1) {
      width: 35%;
      @include mobile() {
        width: 100%;
        display: none;
      }
      > div {
        max-width: calc(#{$desktop-width} * 0.35);
        @include tablet() {
          max-width: calc(#{$tablet-width} * 0.35);
        }
        @include mobile() {
          max-width: calc(#{$mobile-width});
        }
      }
      a {
        color: $darkGray;
      }
    }
    &:nth-child(2) {
      > div {
        max-width: calc(#{$desktop-width} * 0.65);
        @include tablet() {
          max-width: calc(#{$tablet-width} * 0.65);
        }
        @include mobile() {
          max-width: calc(#{$mobile-width});
        }
      }
      width: 65%;
      background-size: contain;
      min-height: 363px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mobile() {
        width: 100%;
      }
      &:before {
        background-size: 370px;
      }
      h2 {
        font-family: "Libre Franklin";
        font-style: normal;
        font-weight: 800;
        font-size: 54px;
        line-height: 72px;
        color: $darkGray;
        margin-bottom: 40px;
        text-align: right;
        display: block;
      }
      p {
        margin: 0px;
        text-align: right;
      }
      .cta-button {
        margin-top: 40px;
        display: inline-block;
      }
    }
  }
}
